<% include ../partials/header %>

  <h1>Boyd's
  <br>
  	<span id="colorDisplay">RGB</span>
  <br>
  	Color Guessing Game
  </h1>

  <div id="stripe">
  	<button id="reset">New Colors</button>
  	<span id="message"></span>
  	<button class="mode easy">Easy</button>
  	<button class="mode selected hard">Hard</button>
  </div>


  <div id="container">
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  	<div class="square"></div>
  </div>

<% include ../partials/footer %>
